<h1>Testing the view</h1>
{{ testVar }}
{{ id }}
{{ sellerId }}
{{ type }}
{{ year }}
{{ make }}
{{ model }}
{{ description }}
{{ price }}
{{ color }}
{{ transmissionType }}
{{ bodyStyle }}
{% for key, value in options %}
    <li>{{ key }}: {{ value }}</li>
{% endfor %}
