{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Alicia's Motor Sales</h3>
    </div>

    <div class="jumbotron">
        <h1>{{ year }} {{ make }} {{ model }}</h1>
        <img src="{{ imgUrl }}" height='400px'>
        <p class="lead">{{ description }}</p>
        <p class="price">${{ price }}</p>
        <p class="seller"><a href="/seller/{{ sellerId }}">Seller Page</a></p>
        <p><a class="btn btn-lg btn-success" href="/contact/{{ sellerId }}" role="button">Contact Seller</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Type</h4>
            <ul>
                <li>{{ type }}</li>
            </ul>

            {% if color %}
                <h4>Color</h4>
                <ul>
                    <li>{{ color }}</li>
                </ul>

                <h4>Transmission Type</h4>
                <ul>
                    <li>{{ transmissionType }}</li>
                </ul>
            {% endif %}
        </div>

        <div class="col-lg-6">
            {% if bodyStyle %}
                <h4>Body Style</h4>
                <ul>
                    <li>{{ bodyStyle }}</li>
                </ul>
            {% endif %}

            {% if options %}
                <h4>Options</h4>
                <ul>
                    {% for key, value in options %}
                    <li>
                        {{ key }}: {{ value }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h4>Listing Id</h4>
            <ul>
                <li>
                    {{ id }}
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
