{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Alicia's Motor Sales</h3>
      </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h2>Find Your Next Car, Boat, Truck, RV or Other Motor Today!</h2>
        <p class="lead">Browse all of our inventory here</p>
    </div>

    <!-- Rows of Inventory -->
    {% set index = 0 %}
    <div class='row'>
    {% for index, listing in listings %}
        {% if index is divisible by(3) %}
            </div>
            <div class='row'>
        {% endif %}

        <div class="col-lg-4">
            <h2>{{ listing['year'] }} {{ listing['make'] }} {{ listing['model'] }}</h2>
            <img src="{{ listing['imgUrl'] }}" height='200px'>
            <p>{{ listing['description'] }}</p>
            <p><a class="btn btn-primary" href="/listings/{{ listing['id'] }}" role="button">View details &raquo;</a></p>
        </div>
        {% set index = index + 1 %}
    {% endfor %}
    </div>
</div>
{% endblock %}
